/* Base styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background: #005A9C;
    color: #fff;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header .logo a {
    color: white;
    text-decoration: none;
}

/* Navigation bar styles */
nav ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

nav ul li {
    font-size: 18px;
    display: inline;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a.active {
    text-decoration: underline;
}

/*contact info styles*/
.contact-info {
    padding: 50px 10%;
    text-align: center;
}

.contact-info h1 {
    margin-bottom: 20px;
    color: #005A9C;
}

.contact-info p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
}

/*footer styles*/
footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
